html {
  font-family: sans-serif;
  background-color: #FFD100;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.refreshBtn {
  width: 40px;
}

.timer {
  width: 40px;
  height: 40px;
  border: 0.5px solid black;
  border-radius: 50%;
  text-align: center;
}

#q-section {
  display: flex;
  height: 25vh;
  padding: 22px;
  justify-content: center;
  align-items: center;
  border: 3px solid #95969A;
}

h2 {
  text-align: center;
}

.difficultyGrid {
  display: flex;
  flex-direction: column;
  height: 100vw;
}

.optionsGrid {
  height: 40vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 1080px) {
  .optionsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.difficultyBtn {
  height: 40px;
  border-radius: 5%;
}

.hidden {
  display: none;
}

.grids button {
  margin: 10px;
  font-size: 25px;
}

.option {
  border-radius: 5%;
  max-width: 40vw;
  background-color: #FFEE32;
  border: 1.5px #95969A;
}

.green {
  background-color: lawngreen;
}

.red {
  background-color: red;
}
