html {
  font-family: sans-serif;
}

nav {
  display: inline;
  justify-content: end;
  align-items: center;
}

.refreshBtn {
  width: 40px;
}

.timer {
  width: 40px;
  height: 40px;
  border: 0.5px solid black;
  border-radius: 50%;
  text-align: center;
}

#q-section {
  display: flex;
  height: 30vh;
  justify-content: center;
  align-items: center;
  border: 1px solid coral;
}

h2 {
  text-align: center;
}

.difficultyGrid {
  display: flex;
  flex-direction: column;
  border: 1px solid lime;
}

.optionsGrid {
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 2px solid cyan;
}
@media (max-width: 1080px) {
  .optionsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.difficultyBtn {
  height: 40px;
  border-radius: 5%;
}

.hidden {
  display: none;
}

.grids button {
  margin: 10px;
  font-size: 20px;
}

.option {
  border-radius: 5%;
  max-width: 40vw;
}
