$mobile: 320px;  //how to typically determine this?
$desktop: 1080px;


$text-colour: whitesmoke;

$dark-gold: #FFD100;
$light-gold: #FFEE32;
$dark-something: #333533;
$grey-mid: #95969A;
//$-: #;


@mixin mobile {
    @media (max-width: $desktop)   { 
        @content
    }
}


@mixin desktop {
    
}

html {
 font-family: sans-serif;
 background-color: $dark-gold;
}

nav {      //#########clearly not working
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.refreshBtn {
    width: 40px;
}

.timer {
    width: 40px;
    height: 40px;
    border: 0.5px solid black;
    border-radius: 50%;
    text-align: center;
}

#q-section {
    display: flex;
    height: 30vh; 
    padding: 22px;
    justify-content: center;
    align-items: center;
    border: 3px solid $grey-mid;

}

h2 {
    text-align: center; 
}

.difficultyGrid {
    display: flex;
    flex-direction: column;
}

.optionsGrid {
    height: 50vh;

    display: grid;
    grid-template-columns: repeat(2,1fr);

    @include mobile {
        grid-template-columns: repeat(2,1fr); //tb checked
    }

}

.difficultyBtn { 
    height: 40px;
    border-radius: 5%; //sooooo ugly
}

.hidden {
    display: none;
}

.grids button {
    margin: 10px;
    font-size: 25px;
}

.option {
    border-radius: 5%; 
    max-width: 40vw;   //needs touching up, probs media queries
    
    background-color: #FFEE32;

    //border: 1.5px solid $dark-something ;
    border: 1.5px $grey-mid ;
}

.correct {
    background-color: lawngreen;
}

.wrong {
    background-color: red;
}

